.crumbs {
    width: fit-content;
    padding: 0.5rem 1rem;

    display: inline-flex;
    align-items: center;
    gap: 0.25rem;

    border: 1px solid var(--color-crumbs-border);
    border-radius: 2rem;

    color: var(--color-crumbs-text);
}

.crumbs .icon {
    transform: rotate(90deg);
    width: 16px;
    height: 16px;
}

.crumbs .icon path {
    fill: var(--color-crumbs-icon);
}
