/* Основные цвета сайта */
html,
html[theme="light"] {
    --color-background: #ffffff;
    --color-border: #e5e5e5;
    --color-crumbs-border: #cccccc;
    --color-crumbs-icon: #000000;
    --color-crumbs-text: #000000;
    --color-footer-text: #000000;
    --color-header-border: #cccccc;
    --color-header-contact: #000000;
    --color-header-menu-button: #000000;
    --color-header-profile-text: #000000;
    --color-index-page-lesson: #8a8a8a;
    --color-link: #0969da;
    --color-menu-background: #333333;
    --color-menu-button: #4f4f4f;
    --color-menu-intersperse: #4f4f4f;
    --color-menu-nav-text: #ffffff;
    --color-nav-background: #333333;
    --color-nav-background-active: #666666;
    --color-nav-text: #ffffff;
    --color-page-code-background: rgba(0, 0, 0, 0.1);
    --color-page-image-caption: #7a7a7a;
    --color-page-paragraph: #000000;
    --color-page-bold: #333333;
    --color-page-card-heading: #000000;
    --color-progress-background: #f1f1f1;
    --color-progress-successful: #2eb72e;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-summary-heading: #000000;
    --color-summary-text: #000000;
    --color-text-heading: #000000;
    --color-text-logo: #000000;
    --color-text-b: #333333;
    --color-toggle-theme: #cccccc;
    --color-topic-card-heading: #000000;
}

html[theme="dark"] {
    --color-background: #1a1a1a;
    --color-border: #4f4f4f;
    --color-crumbs-border: #4f4f4f;
    --color-crumbs-icon: #f1f1f1;
    --color-crumbs-text: #f1f1f1;
    --color-footer-text: #f1f1f1;
    --color-header-border: #4f4f4f;
    --color-header-contact: #f1f1f1;
    --color-header-menu-button: #666666;
    --color-header-profile-text: #f1f1f1;
    --color-index-page-lesson: #8a8a8a;
    --color-link: #0969da;
    --color-menu-background: #333333;
    --color-menu-button: #4f4f4f;
    --color-menu-intersperse: #4f4f4f;
    --color-menu-nav-text: #ffffff;
    --color-nav-background: #333333;
    --color-nav-background-active: #666666;
    --color-nav-text: #ffffff;
    --color-page-code-background: rgba(0, 0, 0, 0.1);
    --color-page-image-caption: #7a7a7a;
    --color-page-paragraph: #f1f1f1;
    --color-page-bold: #cbcbcb;
    --color-page-card-heading: #f1f1f1;
    --color-progress-background: #d4d4d4;
    --color-progress-successful: #2eb72e;
    --color-shadow: rgba(0, 0, 0, 0);
    --color-summary-heading: #f1f1f1;
    --color-summary-text: #f1f1f1;
    --color-text-heading: #f1f1f1;
    --color-text-logo: #f1f1f1;
    --color-text-b: #333333;
    --color-toggle-theme: #666666;
    --color-topic-card-heading: #f1f1f1;
}

/* Защита от ослепления из-за изображений в тёмной теме */
html[theme="dark"] img {
    filter: brightness(0.8) contrast(1.2);
}

/* Плавная смена цвета сайта */
html.theme-in-transition,
html.theme-in-transition *,
html.theme-in-transition *:before,
html.theme-in-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0s !important;
}

/* Шрифт без засечек по умолчанию */
* {
    font-family: sans-serif;
}

/* Запрет влияния <a> на стиль элементов */
a {
    text-decoration: none;
    color: inherit;
}

/* flex-column для body по умолчанию. Помогает сделать footer */
body {
    background-color: var(--color-background);
    display: flex;
    flex-direction: column;
}

/* CSS Reset. Перенял у https://www.joshwcomeau.com/css/custom-css-reset/ */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
