@font-face {
    font-family: "Open Sans Condensed";
    src: url("../assets/OpenSansCondensedLight.ttf") format("truetype");
}

body header header {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.75rem;
}

body header header *:first-child {
    margin-right: auto;
}

body header header .logo {
    color: var(--color-text-logo);
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 600;
    font-size: 1.5em;
}

body header header .contact {
    color: var(--color-header-contact);
}

body header header .theme_toggle,
body header header .menu_toggle {
    background: transparent;
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
}

body header header .theme_toggle .icon,
body header header .menu_toggle .icon {
    margin: 0;
}

body header header .theme_toggle .icon g path {
    stroke: var(--color-toggle-theme);
}

body header header .menu_toggle .icon g path:last-child {
    fill: var(--color-header-menu-button);
}

body header header .menu_toggle {
    visibility: hidden;
    display: none;
}

body header header .profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

body header header .profile .picture {
    width: 44px;
    height: 44px;
    border-radius: 100%;
}

body header header .profile .username {
    color: var(--color-header-profile-text);
}

body header header .profile .username::first-letter {
    color: red;
}

body header nav {
    padding: 0 0.75rem;
    flex: 0 0 100%;

    display: flex;
    align-items: center;

    background-color: var(--color-nav-background);
    color: var(--color-nav-text);

    text-transform: uppercase;
}

body header nav * {
    padding: 0.75rem;
}

body header nav .active,
body header nav *:hover {
    background-color: var(--color-nav-background-active);
}

@media (max-width: 768px) {
    body header nav,
    body header header .contact,
    body header header .profile {
        visibility: hidden;
        display: none;
    }

    body header header .menu_toggle {
        visibility: visible;
        display: block;
    }

    body header header {
        border-bottom: 1px solid var(--color-header-border);
    }
}
